.renda-fixa-table-container{
    display: flex;
    flex-direction: column;
}

.new-item-btn{
    width: 180px;
    height: 44px;
    align-self: center;
    margin-bottom: 16px ;
}

.paginator{
    background-color: #f0f0f0;
    box-shadow: var(--mat-app-elevation-shadow-level-8);
    clip-path: inset(0px -20px -20px -20px);
}

.rounded-border-radius{
    &-bottom{
        border-radius: 0 0 5px 5px;
    }
    &-top{
        border-radius: 5px 5px 0 0;
    }
}


@media (max-width: 740px) {
    .table-responsive{
        
    display: block;
    width: 100vw;
    height: 800px;
    overflow: scroll;
    
}


}