.filter-form{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.filter-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    min-height: 76px;
}

.filter-toggle{
    background-color: #c5c5c5;
    width: 200px;
    height: 40px;

    &-icon{
        position: relative;
        top: 8px;
        font-size: 20px;
        margin-right: 4px;
    }
}

