<div class="filter-container">
      <button mat-flat-button class="filter-toggle" color="warn" (click)="toggleFilter()">
        @if(!openFilter){
            <ng-container>
                <mat-icon class="filter-toggle-icon" fontIcon="filter_alt"></mat-icon>
                ABRIR FILTROS
            </ng-container>
        }
        @else{
            <ng-container>
                <mat-icon class="filter-toggle-icon" fontIcon="filter_alt_off"></mat-icon>
                FECHAR FILTROS
            </ng-container>
        }
    </button>
    @if(openFilter){
    <form [@slideInOut]="openFilter" [formGroup]="filterForm" class="filter-form">
        <mat-form-field appearance="outline">
        <mat-label>ID</mat-label>
        <input matInput type="number" formControlName="id" name="id">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <input matInput type="text" formControlName="descricao" name="descricao">
        </mat-form-field>
        <mat-form-field appearance="outline">
        <mat-label>Tipo Produto</mat-label>
        <mat-select  formControlName="tipoProdutoId" name="tipoProdutoId">
        
            <mat-option [value]="">           
            </mat-option>

            @for (tipoProduto of tiposProduto$ | async; track tipoProduto){
                <mat-option [value]="tipoProduto.id">
                    {{ tipoProduto.nome }}
                 </mat-option>
            }
        
        </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="outline" >
        <mat-label>Indexador</mat-label>
        <mat-select formControlName="indexadorId" name="indexadorId">
            <mat-option [value]="">
                
            </mat-option>

            @for (tipoProduto of indexadores$ | async; track tipoProduto){
                <mat-option [value]="tipoProduto.id">
                    {{ tipoProduto.nome }}
                 </mat-option>
            }
        
        </mat-select>
        </mat-form-field>
        <button mat-fab extended class="filter-toggle" color="warn" (click)="clearFilter()">
            <mat-icon fontIcon="backspace"></mat-icon>
            Limpar
        </button>
    
    </form>
    }
  
</div>

