.center-main-content{
    display: flex;
}
.main-container{
    width: 100vh;
}

@media (min-width: 1200px){
    .main-container{
        width: 1200px;
    }
    .center-main-content{
        justify-content: center;
    }
}